# Required
DB_HOST=hostname
DB_USER=username
DB_PASSWORD=password
DB_PORT=portnumber
# Database name is static
DB_NAME=openlibrary_db

# Optional Open Library API Settings (defaults shown)
GENRE="romance fiction"
LIMIT=100
MAX_PAGES=20
MAX_ATTEMPTS=5
CONNECT_TIMEOUT=15
READ_TIMEOUT=15

# Log Settings (defaults shown)
LOG_LEVEL=debug

# Project's API Settings
API_VERSION="1.0.0"